# Python for Engineering Statistics

## Dr.ÙŽ Behrooz Karimi
<img src="inventory_management.jpg" alt="Drawing" style="width: 500px;"/>

### By: Pedram Peiro

# About This Dataset

This dataset contains information about samples which were taken from a car population. Each of the columns describe a car in a certain way.

## Some Important Notes to Answer The Questions

1. Answer each of the questions in only one cell with the specified structure which is written above the question.
2. Your output should be exactly in the same way as it is mentioned in each question, otherwise you may lose score by mistake.
3. Try to keep your code as clean as possible.
4. Don't forget that the dataset might be messy and you have to clean it first!
5. **DO NOT** print anything unless it is said so.
6. Do all the changes in the notebook (not in MS Excel or any other environment).
7. Essential inputs are predefined in each function. Only use them. **DO NOT** add any other inputs.

## Import Libraries

In [ ]:
# Don't change this cell.
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib notebook

#### import your dataset here

In [ ]:
df = pd.read_csv("enter the path")
df.head()

## Question 1
In this question, you should change the names of the columns with the names in the first row of the dataset. After that, remove the first row.

Write your code in the following function named "answer_one".

This function should return a **dataframe** with 201 rows.

In [ ]:
def answer_one(df):
    
    ''' write your 
    code in this function'''
   
    return

In [ ]:
# Don't change this cell.
df = answer_one(df)
df.head()

## Question 2
Does this dataset contain any Null Values?

If it does, return the index and the name of the columns which have null values as a *List* (not an array or any other data type), otherwise just return an empty List.

This function should return a **list** in the following order: [indexes , names of the columns]

For example: `[1,2,3,4,5,6,7,'gas' , 'diesel']`

In [ ]:
def answer_two(df):
    
    ''' write your 
    code in this function'''

    return

In [ ]:
# Don't change this cell.
answer_two(df)

## Question 3
First of all, fill the Null values of the data frame with the most common value in the related column.


Then, count the number of repetitions of values in the following columns:
1. num-of-doors
2. stroke
3. engine-location
4. horsepower-binned

If there were more than 3 unique values in any of the mentioned columns, count only 3 that are more frequent than others.

This function should return a **dictionary** containing 4 keys (names of the columns) and 4 values as **lists** (sorted in a descending order of the 3 most frequent values). By the way, if there were less unique values in a column, only return those in the list.

For example, a possible outcome may be:

`{'num-of-doors': [32,20,10] , 'stroke': [56,43] , 'engine-location': [90 , 30 , 10] , 'horsepower-binned' : [54,53]}`

**Hint:** Search about how to count values in a column ... .

In [ ]:
def answer_three(df):
    
    ''' write your 
    code in this function'''

    return

In [ ]:
# Don't change this cell.
answer_three(df)

# Question 4
Check the dtype of the following columns:
- symboling
- normalized-losses
- price
- engine-size
 
Change their type if you think they are not saved in an appropriate way.
 
This function should return a **dataframe**.
 
**Hint:** Search about changing the type of a column ...

In [ ]:
def answer_four(df):
    
    ''' write your 
    code in this function'''

    return

In [ ]:
# Don't change this cell.
df = answer_four(df)
df.head()

## Question 5
Using the Describe method, describe **length** and **wheel-base** columns.

This function should return a **dataframe** with two columns "length" and "wheel-base" (respectively) and 8 rows named: `count`, `mean`, `std`, `min`, `25%`, `50%`, `75%` and `max`.

**DO NOT** use any other aggregation method to calculate these statistics.

**Hint**: Check out the type of the values in these columns ...

In [ ]:
def answer_five(df):
    
    ''' write your 
    code in this function'''
    
    return

In [ ]:
# Don't change this cell.
answer_five(df)

## Question 6
Plot a figure with 4 axes, each with a box plot.
1. Axis 1: Box plot of the price of cars with 4 cylinders.
2. Axis 2: Box plot of the price of cars with 6 cylinders.
3. Axis 3: Box plot of the price of cars with 5 cylinders.
4. Axis 4: Box plot of the price of cars with 8 cylinders.

Do the following tasks as well:
- remove the number below ever axis.
- set a title for each axis.
- set a title for the whole figure with font size equal to 20.
- set a seaborn background using plt.style.use()

This function should return a **figure**.

In [ ]:
def answer_six(df):
    
    ''' write your 
    code in this function'''

In [ ]:
# Don't change this cell.
answer_six(df)

## Question 7
Plot the bar chart of the average price of each car manufacturer.

The bars should be in an ascending order, which means that the lowest price has to be in the left corner of the plot, while the highest one should be placed in the right corner.

Additionally, the size of the figure should be changed to (10,5).

**Don't forget** to apply necessary changes to the plot.

This function should return a **figure with 1 axis**.

**Hint:** Search about how to group a dataframe based on a column and see different examples of its functionality.

In [ ]:
def answer_seven(df):
    
    ''' write your 
    code in this function'''

In [ ]:
# Don't change this cell.
answer_seven(df)

## Question 8 (Bonus)
Plot a suitable chart in order to investigate the relationship between `engine-size` and `price`.

Add labels for x and y axis as well

The title of the plot should include the "kind of the plot" (i.e. box plot, bar chart, ...) and the R2 score (with 2 decimal point). **(For example: bar chart, R2 = 0.62)**

This function should return a **figure with 1 axis**.

In [ ]:
def answer_eight(df):
    
    ''' write your 
    code in this function'''

In [ ]:
# Don't change this cell.
answer_eight(df)